{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="{% static "authentication/index.css" %}">
</head>
<body>
    <div class="index_container">
        <div class="box">
            
            {% if user.is_authenticated %}
            <h3> welcome {{ fname }}</h3>
            <p> We are still developing todo functionality for you. Thanks!</p>
        
        
            <button type="submit"><a href="signout">signOut</a></button>
            
        
            {% else %}
            <h2>welcome to the login page. </h2>
                <p style="color: rgb(131, 123, 123);">This end to end login page is created using html, css and Django.</p>
            <button type="submit"><a href="signup">signUp</a></button>
            <button type="submit"><a href="signin">signIn</a></button>
            {% endif %}
        </div>
      </div>


    
</body>
</html>